@{
    ViewData["Title"] = "About";
}
<section class="main-content">
    <h1>Airbnb in Amsterdam</h1>
    <p>
        Amsterdam was heralded as the first city in the World to pass an "Airbnb-friendly law", however according to <a href="http://www.parool.nl" target="_blank">Het Parool</a>, there is <a href="http://www.parool.nl/parool/nl/4/AMSTERDAM/article/detail/3843532/2015/02/03/Er-zit-geen-rem-op-de-groei-van-Airbnb-in-Amsterdam.dhtml" target="_blank">"No brakes on the growth of Airbnb in Amsterdam"</a>, including apparently following the law. Airbnb vowed to send an e-mail twice a year to hosts reminding them of the local laws.
    </p>
    <h2>The Law</h2>
    <p>In February 2014, Amsterdam created a new category of housing, a <a href="http://www.amsterdam.nl/wonen-leefomgeving/wonen/informatie/verhuren/particuliere/">"Particuliere Vakantieverhuur"</a>, or "private vacation rental" which allows short term vacation rentals to tourists under the following conditions:</p>
    <ul>
        <li>Only the registered, main occupant of a dwelling may rent out a property</li>
        <li>The  owner is the only person that can rent out the property, in most cases Amsterdam leases prohibit a tenant renting to others</li>
        <li>The dwelling must not be rented for more than two months a year in total</li>
        <li>No more than 4 people can rent a property at a time</li>
    </ul>
    <h2>Data for Airbnb in Amsterdam</h2>
    <h3>Inside Airbnb</h3>
    <p>Inside Airbnb provides data compiled from the Airbnb web-site for listings available for Amsterdam.</p>
    <p>According to Inside Airbnb data for Amsterdam, compiled on December 2017, there are:</p>
    <ul>
        <li>6,183 "Entire homes/apartments" (33% against the total number of listings) that were estimated to be booked for more 60 nights a year (and against the law)</li>
        <li>1,299 listings that are available to accommodate more than 4 people (and against the law - this is underestimated, because it doesn't account for multiple listings in the same apartment);</li>
    </ul>
    <p>A conservative occupancy model has been built in order to estimate <b>Occupancy Rates</b>, <b>Income per Month</b> and <b>Nights per Year</b>. More information on the methodolgy of the occupancy model can be found in the <a href="../about.html#disclaimers">disclaimers</a>.</p>
    <p><b>Inside Airbnb: Amsterdam</b> uses the following parameters:</p>
    <ul>
        <li>A <b>high availability</b> metric and filter of <b>60 days per year</b> to align with Amsterdam's "Particuliere Vakantieverhuur" regulations</li>
        <li>A <b>frequently rented</b> filter of <b>60 days per year</b> to align with Amsterdam's "Particuliere Vakantieverhuur" regulations</li>
        <li>A <b>review rate</b> of <b>50%</b> for the number of guests making a booking who leave a review</li>
        <li>An average booking of <b>3.9 nights</b> unless a higher minimum nights is configured for a listing. <a href="http://blog.airbnb.com/economic-impact-airbnb/#amsterdam" target="_blank">Airbnb reported 3.9 nights</a> as the average length of stay for guests using Airbnb in Amsterdam</li>
        <li>A maximum <b>occupancy rate</b> of <b>70%</b> to ensure the occupancy model does not produce artifically high results based on the available data</li>
    </ul>
    <p>If you are a journalist, urban or public policy planner, <a href="../get-the-data.html">get the data</a> and analyze if yourself. If you would like your analysis linked to from this site, please contact <a href="mailto:murray@murraycox.com">murray@murraycox.com</a>.</p>
    <h3>Airbnb</h3>
    <p>Airbnb provides <b>NO PUBLIC DATA</b> to help understand the use of their platform and the impact on cities around the world.</p>
    <p>Airbnb also provide <b>NO DATA</b> to cities or states to assist them in ensuring that Airbnb hosts and Airbnb are following the local laws.</p>
    <h3>Other data</h3>
    <ul>
        <li>Tom Slee regularly <a href="https://github.com/tomslee/airbnb" target="_blank">scrapes</a> the Airbnb site to produce <a href="http://tomslee.net/airbnb-data" target="_blank">maps</a> and <a href="http://tomslee.net" target="_blank">analysis</a> of Airbnb use around the world.</li>
    </ul>
    <h3>Acknowledgement</h3>
    <ul>
        <li>
            Thank you to <a href="http://www.alexfischer.net" target="_blank">Alex Fischer</a>, a talented artist; and <a href="http://www.mugambi.com" target="_blank">Esther Mugambi</a>, an inspiring actress; both residents of Amsterdam, for discussing Airbnb in Amsterdam, and to Alex for helping me understand the neighbourhoods of Amsterdam.
        </li>
    </ul>
    <p>&nbsp;</p>
</section>