@{
    ViewData["Title"] = "Home";
}

<section class="bottom-item-row bottom-item-row-center">
    <a asp-controller="Listing" asp-action="MapOverview" class="item item-inline front-page-link-chart front-page-link-chart-map">
        <span>Overview</span>
    </a>
    <a asp-controller="Listing" asp-action="Index" class="item item-inline front-page-link-chart front-page-link-chart-listing">
        <span>Listings</span>
    </a>
    <a asp-controller="Host" asp-action="Index" class="item item-inline front-page-link-chart front-page-link-chart-host">
        <span>Hosts</span>
    </a>
</section>