@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="main-content">
    <h1>Confirm your email</h1>
    <p>
        Please check your email to reset your password.
    </p>
</section>